.company-info__content {
    border: 1px solid #999;
    border-radius: 10px;
    max-width: 80%;
    padding: 2em;
    margin: 1em;
}

.card-name {
    text-transform: uppercase;
}

.card-list li span {
    color: #2b76b2;
    margin-left: 0.5em;
}