.crew-info__content {
    border: 1px solid #999;
    border-radius: 10px;
    max-width: 80%;
    padding: 2em;
    margin: 1em;
}

.crew-info__item {
    display: flex;
    flex-direction: row;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 2em;
    margin: 1em;
}

.crew-info__item  div{
    margin: 0.3em 0 0 1em;
}

.crew-info__content ul {
    list-style-type: none;
}

.crew-info__content strong {
    display: block;
    text-align: right;
    background-color: #ffe6cc;
    padding: 0.3em;
    border-radius: 10px;
    width: 300px;
}

.crew-info__content img {
    width: 90px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .crew-info__content {
        padding: 0.5em;
        margin: 0.5em;
    }
    .crew-info__content strong {
        display: inline-block;
        width: 100%;
    }
    .crew-info__item {
        display: block;
        padding: 0.4em;
        margin: 0.1em;
    }
}