*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

:root {
  --bg: hsl(0, 0%, 95%);
  --bg-offset: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --gray: hsl(0, 0%, 52%);
  --pinksoft: hsl(338, 79%, 64%);
  --border: rgba(0, 0, 0, 0.1);
}

.app {
  background: var(--bg);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  text-align: initial;
  max-width: 1200px;
  padding: 0 4em;
}

footer {
  padding: 3em 0;
}

h2 {
  color: var(--pinksoft);
}

h3 {
  font-size: 1.1em;
  text-transform: uppercase;
}

.App-logo {
  height: 4em;
  pointer-events: none;
}

img.info {
  width: 80px;
  height: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  color: #2b76b2;
  font-weight: bolder;
}

a.break {
  word-break: break-all;
}

button {
  background-color: var(--pinksoft);
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: .3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 16px 10px;
  border-radius: 4px;
}

button:hover {
  background-color: deeppink;
}

.nav-link {
  text-align: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  main {
    max-width: 100%;
    width: 100%;
    padding: 0.5em;
  }
}