.app {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  text-align: initial;
  max-width: 900px;
  padding: 0 4em;
}

h2 {
  color: #ec5990;
}

h3 {
  font-size: 1.1em;
  text-transform: uppercase;
}

.App-logo {
  height: 4em;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #2b76b2;
  font-weight: bolder;
}

a.break {
  word-break: break-all;
}

button {
  background-color: #ec5990;
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: .3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 16px 10px;
  border-radius: 4px;
}

button:hover {
  background-color: deeppink;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  main {
    max-width: 100%;
    width: 100%;
    padding: 0.5em;
  }
}